:root {
    --color-green-dark: rgb(144,198,100);
    --color-green-light: rgb(169,219,122);
    --color-yellow-dark: rgb(220,173,81);
    --color-yellow-light: rgb(238,209,107);
    --color-red-dark: rgb(227,116,122);
    --color-red-light: rgb(238,146,149);
    
    --color-dark: rgb(220,173,81);
    --color-light: rgb(238,209,107);
}

* {
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

.container {
    /* background-color: rgba(47, 106, 161, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(20,40,200,.2); */
    width: 80%;
    min-width: 450px;
    max-width: 960px;
    height: 510%;
    margin: 0 auto 0 auto;
    padding: auto 100px auto 0;
}

#face * {
    transition: all 0.5s;
}

.face-border {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.face-inside {
    width: 365px;
    height: 365px;
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eye {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-dark);
}

.eye-left {
    transform: translate(-45px, -20px);
}

.eye-right {
    transform: translate(45px, -20px);
}

.mouth {
    height: 50px;
    width: 220px;
    justify-content: center;
    background-color: var(--color-dark);
    transform: translateY(50px);
}

.mouth-smile {
    border-radius: 0 0 220px 220px / 0 0 110px 110px;
}

.mouth-neutal {
    border-radius: 40px;
}

.mouth-sad {
    border-radius: 220px 220px 0 0 / 110px 110px 0 0;
}

.button-container {
    /* background-color: seagreen; */
    padding: 5px;
    margin: 20px;
    display: flex;
}

.button + .button {
    margin-left: 75px;
}

.button {
    width: 70px;
    height: 70px;
    border: 5px solid black;
    border-radius: 50%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
    font-size: 40px;
    opacity: 0.5;
}

.button:hover {
    cursor: pointer;
    opacity: 1;
}

#btn-smile {
    background-color: rgba(0,128,0,1);
}
#btn-neutal {
    background-color: rgba(255,255,0,1);
}
#btn-sad {
    background-color: rgba(255,0,0,1);
}